.nav.nav-tabs {
	position: relative;
	min-width: 482px;
	width: 100%;
	margin: 50px 0;
	text-align: center;
	font-size: 2em;
}
// NON-SELECTED TAB
.nav-tabs{
	background-color: rgba(0, 0, 0, 0);
	border: none;
}
// PANEL BOX
.tab-content{
    background-color: #0c0c0c;
    color: #fff;
    padding: 1% 0% 1% 4%;
	-webkit-box-shadow: 0px 0px 50px 0px rgba(0, 100, 255, 0.25);
	-moz-box-shadow:    0px 0px 50px 0px rgba(0, 100, 255, 0.25);
	box-shadow:         0px 0px 50px 0px rgba(0, 100, 255, 0.25);
}
.nav-tabs > div > a{	
	border: none;
}
.nav-tabs > div {
	display: inline;
	margin: 0 17px;
}
// HOVERED TAB
.nav-tabs > div > a:hover{
 	background-color: rgba(0, 0, 0, 0) !important;
    border: none;
    text-decoration: none;
    color: #fff6b7;
}
// SELECTED TAB
.nav-tabs > div.active > a,
.nav-tabs > div.active > a:focus,
.nav-tabs > div.active > a:hover{
    background-color: rgba(0, 0, 0, 0) !important;
    border: none;
    color: #fff6b7;
    text-decoration: none;
}
// TO DISABLE BOXES AROUND CLICK AREAS IN FIREFOX
a, a:active, a:focus {
outline: none;
}
// PANEL BOX DIMENSIONS
.panels {
	margin: 0 auto;
	width: 64%;
	max-width: 800px;
}
 // SPACE INDIDE PANEL BOX
.tab-pane {
	width: 100%;
	margin: 3%;
	color: #dbdbdb;
	font-family: 'Muli', sans-serif;
	font-size: 1.2em;
}
// CONTENT INSIDE .tab-pane
.content {
	margin: 3%;
	color: #dbdbdb;
	font-size: 1.2em;
}

// TABS AND PANELS (ELEMENT SPECIFIC)
.done-true {
	text-decoration: line-through;
	color: grey;
}

.content-position {
	position: relative;
	margin: 0 19%;
	text-align: left;
}


// SMALL VIEWPORT PANELS
// PANEL BOX
.content-box{
	position: fixed;
	top: 21%;
	width: 100%;
    background-color: #0c0c0c;
    color: #fff;
    padding: 1% 0% 1% 4%;
	-webkit-box-shadow: 0px 0px 50px 0px rgba(0, 100, 255, 0.25);
	-moz-box-shadow:    0px 0px 50px 0px rgba(0, 100, 255, 0.25);
	box-shadow:         0px 0px 50px 0px rgba(0, 100, 255, 0.25);
}
