// RESPONSIVE DESIGN (BROWSER SIZE)
// MEDIUM size
@media (max-width: 815px) {
	.nav.nav-tabs {
		font-size: 1.55em;
	}
}

// SMALL size
@media (max-width: 667px) {
	.nav.nav-tabs {
		visibility: hidden;
	}
	#drawer-show {
		visibility: visible;
	}
}

// RESPONSIVE DESIGN (DEVICE)
// iPhone size 6 & 6s Portrait and Landscape
@media only screen
  and (max-device-width: 667px)
  and (-webkit-device-pixel-ratio: 2) {

	.nav.nav-tabs {
		visibility: hidden;
	}

	.titles {
		h1 {
			font-size: 4em;
		}
		p {
			font-size: 3em;
		}
	}

	.tab-pane {
		overflow: auto;
		font-size: 3em;
	}

	#map {
		width: 850px;
	}

	#drawer-show {
		visibility: visible;

		#drawer-activate {
			i {
				font-size: 3em;
			}
		}

		drawer {

			div {
				left: -900px;
				width: 900px;
				ul {
					li {
						max-width: 900px;
						font-size: 100px;
					}
				}
			}
			div.show {
				-webkit-transform: 	translate3d(865px, 0, 0);
				-moz-transform: 	translate3d(865px, 0, 0);
				-ms-transform: 		translate3d(865px, 0, 0);
				-o-transform: 		translate3d(865px, 0, 0);
				transform: 			translate3d(865px, 0, 0);
			}
		}		
	}




}





// // iPad size
// // Portrait 
// 	@media only screen
// 	  and (min-device-width: 768px)
// 	  and (max-device-width: 1024px)
// 	  and (orientation: portrait)
// 	  and (-webkit-min-device-pixel-ratio: 1) {

// 	}

// // Landscape 
// 	@media only screen
// 	  and (min-device-width: 768px)
// 	  and (max-device-width: 1024px)
// 	  and (orientation: landscape)
// 	  and (-webkit-min-device-pixel-ratio: 1) {

// 	}

// // iPhone size
// // 6 & 6s Portrait and Landscape 
// 	@media only screen
// 	  and (min-device-width: 375px)
// 	  and (max-device-width: 667px)
// 	  and (-webkit-min-device-pixel-ratio: 2) {

// 	}

// // 6+ Landscape 
// 	@media only screen
// 	  and (min-device-width: 414px)
// 	  and (max-device-width: 736px)
// 	  and (-webkit-min-device-pixel-ratio: 3)
// 	  and (orientation: landscape) {

// 	}
