<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta 	charset="utf-8">
	<meta 	http-equiv="X-UA-Compatible" content="IE=edge">
	<meta 	name="description" content="">
	<meta 	name="google-site-verification" content="32cBiVhpfIxlw_QWcu4KBl6ezI8BrGWSs5JKMEWOHK4"/>
	<meta 	name="google-site-verification" content="IZaP59PxVe9KfDYuaqIXcC86SWQigaSg5dljTEsM4oY"/>
	<link 	rel="alternate" href="http://www.michaeljohnmcclure.com/" hreflang="en-us"/>
	<title 	ng-bind="title"></title>

	<!-- ANGULARJS -->
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>

	<!-- ANGULAR WIRING -->
	<script src="js/main.js"></script>
	<script src="js/router.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/components.js"></script>

	<!-- THIRD PARTY -->
	<script src="bower_components/angular-translate/angular-translate.min.js"></script>
	<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>	

	<!-- BOOTSTRAP -->
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<link 	href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link 	rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
	<link 	rel="stylesheet" type="text/css" href="css/main.css"/>

</head>
<body class="ng-view" ng-cloak>
	<div id="background">

<!-- LEFT SLIDING DRAWER -->
	<div id="drawer-show">
		<div ng-click="app.showLeft($event)" id="drawer-activate"><span class="fa fa-bars"></span></div>
		<drawer visible="leftVisible" alignment="left">
			<div class="nav nav-tabs" id="spacer">
				<div ng-repeat="(key,val) in views track by $index" ng-class="{active:val}">
					<a href="" ng-click="app.tabFunction(key)" ng-bind="key | translate"></a><br>
				</div> 
			</div>
		</drawer>
	</div>

	<section class="titles">
		<h1 translate="TITLE"></h1>	
		<p translate="SUBTITLE"></p>
		<hr>
	</section>















	
<!-- BROWSER WINDOW SIZE DETECTOR (connected to disabled .directive)-->
<!-- 	<section responsive="partials/large.html" 
	     smbreak=667
	     smtemplate="partials/small.html"
	     mdbreak=1024
	     mdtemplate="partials/medium.html">
	</section> -->
